main {
  background: radial-gradient(rgb(88, 175, 252), rgb(3, 0, 148));
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  padding: 20px 40px 20px 40px;
}

@media only screen and (max-width:800px) {
  main{
      display: flex;
      flex-direction: column;
  }
}